.page-job{
  display: none;
}
@media screen and (min-width: 1200px) {
  .job {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--grey-color);
    margin-bottom: 50px;
  }
  
  .page-job {
    display: block;
    padding-top: 0;
  }
  .job-page {
    display: flex;
    gap: 30px;
  }
  .work__image {
    width: 370px;
    height: 294px;
  }
  .work-text-box {
    position: relative;
    overflow: hidden;
  }
  .work__title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    background: rgba(47, 48, 58, 0.8);
    color: var(--primary-text-color-theme-light);
    width: 100%;
    height: 70px;
    top: 224px;
    left: 0;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }
}  