.skills__list {
    display: block;
}
  .skills__item {
    flex-basis: calc((100% - 90px) / 4);
  }
    .skills__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--grey-color);
    margin-bottom: 10px;
    text-align: center;
  }
    .skills__text {
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-text-color-theme-light);
  }
    .skills__box {
    display: flex;
    justify-content: center;
    border-radius: 4px;
    background-color: var(--back-color);
    margin-bottom: 30px;
    height: 120px;
    align-items: center;
  }
  @media screen and (min-width:768px) {
    .skills__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .skills__box {
    width: 354px;
  }

}
@media screen and (min-width:1200px) {
  .skills__box {
    width: 270px;
  }
}







