.logo {
    font-family: var(--secondary-text-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
  
    color: var(--black-color);
  }
  .logo-item {
    font-family: var(--secondary-text-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--accent-color);
  }
  .logo-two {
    font-family: var(--secondary-text-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--primary-text-color-theme-light);
    margin-top: 60px;
    font-style: normal;
  }