:root {
    --accent-color: #2196f3;
    --secondary-text-dark-color: #000000;
    --primary-text-dark-color: #212121;
    --primary-text-color-theme-light: #ffffff;
    --secondary-text-color-theme-light: #757575;
    --no-name-text-color: #2f303a;
    --primary-font: "Roboto", sans-serif;
    --secondary-text-font: "Raleway", sans-serif;
    --back-color: #f5f4fa;
    --border-color: #eee;
    --primary-icon-color: rgba(175, 177, 184, 1);
    --second-icon-color: #757575;
    --time-activate: 250ms;
    --funk-time: cubic-bezier(0.4, 0, 0.2, 1);
  }
  